.filter {
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 70%;
  padding: 40px;

  .title-filter {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;
    color: $main-blue;
  }

  .subCategories-menu {

    .selected-category {
      padding-left: 20px;
      margin: 10px 0;
      color: $main-blue;
      font-size: 16px;
    }

    .category {
      padding: 4px 0 4px 30px;
      font-size: 13px;
      cursor: pointer;

      &:hover {
        color: royalblue;
      }

      &.active {
        color: royalblue;
      }
    }
  }
}

.layout.dark {
  .filter {
    background-color: $dark-blue_bg_hover;

    color: #fff;

    .slider-box {
      border-color: $light-blue;
    }
  }
}

@media (max-width: 1024px) {
  .filter {
    display: flex !important;
    align-items: start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;

    .slider-box {
      border: none;
      width: 100% !important;

      .price {
        position: absolute;
        top: 35px;
        left: 38%;
      }
    }
  }
}
