.layout {
  min-height: 100vh;
  background-color: $light_bg;
  background-image: url("../assets/images/ui-body_bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 40%;

  &.dark {
    background-color: $dark-blue_bg;
  }
}
