@import "./product-item";

.section-products {

  .title {
    margin: 20px 0;
  }

  .products-box {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;
    column-gap: 15px;
  }
}

@media (max-width: 1024px) {
  .section-inner {
    flex-direction: column !important;

    .filter {
      max-width: 100% !important;
    }
  }
}
