@import "../components/products";

.shop-page {

  .section-inner {
    display: flex;
    align-items: start;
    gap: 15px;

    .filter {
      max-width: 278px;
    }
  }
}

@media (max-width: 1024px) {
  .shop-page {
    .section-inner {
      flex-direction: row;
    }
  }
}