@import "./fonts";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
